<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.ibooker.ibookereditor">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于写入数据到扩展存储卡(SD)-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 往sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="27a5e37c748ec" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="33006bc4fd415d6a15ab93ec458a70d1" />

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--<activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter><action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>-->

        <!--启动页-->
        <activity
            android:name=".activity.WelcomeActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="editor.ibooker.cc"
                    android:scheme="activity" />
            </intent-filter>
        </activity>

        <!--首页-->
        <activity
            android:name=".activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--编辑界面-->
        <activity
            android:name=".activity.EditArticleActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EditArticleActivityTheme"
            android:windowSoftInputMode="adjustPan" />

        <!--图片预览界面-->
        <activity
            android:name=".activity.ImgVPagerActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BlankTheme"
            android:windowSoftInputMode="adjustPan" />

        <!--书客编辑器Web页面-->
        <activity
            android:name=".activity.IbookerEditorWebActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:mimeType="md/*" />
            </intent-filter>
        </activity>

        <!--设置-->
        <activity
            android:name=".activity.SetActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--反馈-->
        <activity
            android:name=".activity.FeedbackActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/EditArticleActivityTheme"
            android:windowSoftInputMode="adjustPan" />

        <!--显示文章详情-->
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ibookereditor" />
            </intent-filter>
        </activity>

        <!--注册广播-->
        <receiver android:name=".broadcastreceiver.NetBroadcastReceiver">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <!--下载服务-->
        <service android:name=".service.DownLoadService" />

        <!--启动APP加速服务-->
        <service
            android:name=".application.InitializeService"
            android:exported="false" />

        <!--Android7.0+用于访问外部文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cc.ibooker.ibookereditor.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!--个人中心-->
        <activity
            android:name=".activity.MeInfoActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--视频播放-->
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/BlankTheme"
            android:windowSoftInputMode="adjustPan" />

        <!--音频播放-->
        <activity
            android:name=".activity.AudioPlayerActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/MusicTheme"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>